body {
  background-color: #4a4a4a;
  /* font-family: 'Quicksand', sans-serif; */
}

.init h1, .init p{
    text-align: center;
}

.listProjects {
    padding: 0;
}

.listProjects li {
    list-style: none;
    margin: 30px 0;
}

.listProjects a {
    color: #000;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}

/*SOCIAL*/
.social {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn-social-social,
.social-btns .btn-social:before,
.social-btns .btn-social .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn-social:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn-social .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn-social.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn-social.facebook .fa {
  color: #3b5998;
}
.social-btns .btn-social.twitter:before {
  background-color: #3cf;
}
.social-btns .btn-social.twitter .fa {
  color: #3cf;
}
.social-btns .btn-social.linkedin:before {
  background-color:#0077b5;
}
.social-btns .btn-social.linkedin .fa {
  color: #0077b5;
}
.social-btns .btn-social.instagram:before {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.social-btns .btn-social.instagram .fa {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-btns .btn-social.github:before {
  background-color: #000;
}
.social-btns .btn-social.github .fa {
  color: #000;
}
.social-btns .btn-social:focus:before,
.social-btns .btn-social:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn-social:focus .fa-instagram,
.social-btns .btn-social:hover .fa-instagram {
    color: #fff;
    background: #FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.social-btns .btn-social:focus .fa,
.social-btns .btn-social:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: auto;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn-social {
    display: inline-block;
    background-color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: -2px -2px 15px -5px rgb(0 0 0 / 40%);
    opacity: 0.99;
}
.social-btns .btn-social:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn-social .fa {
  font-size: 38px;
  vertical-align: middle;
}
.created {
    font-size: 16px;
    color: #969696;
    margin-bottom: 5px;
    margin-top: 0;
}

/*Section presentation*/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

#presentation .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 26rem;
    border-radius: 26rem;
    overflow: hidden;
    height: 26rem;
    position: relative;
}

.footer {
  bottom: 0;
  color: white;
  top: 35rem;
  font-size: 3rem;
  font-weight: bold;
}
.footer .title {
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
}
.footer .mod {
  color: #ffffff;
}
.footer .sub {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-family: 'Sansita Swashed', cursive;
}
.footer .sub a {
  color: pink;
  text-decoration: none;
}
.footer .sub a:hover {
  color: white;
}

.objects_computer {
  position: absolute;
  width: 7rem;
  height: 5.5rem;
  background: #bfbfbf;
  left: 3.8rem;
  top: 14.8rem;
  transform: skew(17deg, 0deg);
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: inset -6px 1px darkgrey;
}
.objects_computer:after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 0.5rem;
  background: darkgrey;
  top: 5.1rem;
  left: 7rem;
  transform: skew(0deg, 2deg);
}
.objects_table {
  position: absolute;
  width: 22rem;
  top: 20.4rem;
  height: 1.4rem;
  background: #63321f;
  left: 2rem;
  box-shadow: 0px -3px #582714;
}
.objects_table:before {
  content: '';
  width: 19rem;
  height: 1.2rem;
  position: absolute;
  background: #582714;
  border-radius: 0 1rem;
  top: 1.4rem;
  left: 3rem;
  z-index: 1;
}
.objects_cup {
  position: absolute;
  width: 2.4rem;
  top: 17.2rem;
  background: #0d257b;
  left: 16.8rem;
  height: 3rem;
  border-radius: 0.3rem 0.3rem 0 0;
  z-index: 55;
  box-shadow: -2px 0px #0d257b;
}
.objects_cup:after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: #0d257b;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
  border: none;
  border-radius: 0;
  z-index: 5;
}
.objects_cup:before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1.3rem;
  border: 4px solid #0d257b;
  left: 1.6rem;
  top: 0.8rem;
  border-radius: 1rem;
  z-index: 1;
}
.objects_chair {
  height: 10.2rem;
  position: absolute;
  width: 9.1rem;
  background: #3c3c3c;
  left: 16.6rem;
  top: 10rem;
  border-radius: 2rem 2rem 0 0;
  transform: skew(-9deg, 0deg);
  box-shadow: inset -9px 5px #424242;
}

.box_1 {
  position: absolute;
  width: 5.4rem;
  height: 6.8rem;
  left: 1rem;
  top: 6.7rem;
  background-color: rgba(99, 102, 115, 0.709804);
  border-radius: 0.6rem;
  box-shadow: 1px 3px 5px #00000052;
  animation: float 2s infinite;
}
.box_1 div {
  background: #001eb1;
  position: absolute;
  border-radius: 1rem;
}
.box_1 :nth-child(1) {
  width: 1.8rem;
  height: 0.3rem;
  top: 1.2rem;
  left: 1.3rem;
}
.box_1 :nth-child(2) {
  width: 1rem;
  height: 0.3rem;
  top: 1.2rem;
  left: 3.3rem;
}
.box_1 :nth-child(3) {
  width: 1.1rem;
  height: 0.3rem;
  top: 2rem;
  left: 2.1rem;
}
.box_1 :nth-child(4) {
  width: 1.4rem;
  height: 0.3rem;
  top: 2rem;
  left: 3.3rem;
}
.box_1 :nth-child(5) {
  width: 0.7rem;
  height: 0.3rem;
  top: 2.7rem;
  left: 2.7rem;
  box-shadow: 1rem 0px #ffe088, 1.8rem 0px #ffe088, -0.5rem 11px #ffe088;
}
.box_1 :nth-child(6) {
  width: 1.8rem;
  height: 0.3rem;
  top: 4.1rem;
  left: 1.2rem;
  box-shadow: 1rem 22px #960e79, 0rem 43px #960e79;
}
.box_1 :nth-child(7) {
  width: 0.8rem;
  height: 0.3rem;
  top: 4.8rem;
  left: 1.7rem;
  box-shadow: 0rem 22px #960e79;
}
.box_2 {
  position: absolute;
  width: 6.4rem;
  height: 4.4rem;
  left: 7.3rem;
  top: 1.7rem;
  background-color: rgba(99, 102, 115, 0.709804);
  border-radius: 0.6rem;
  box-shadow: 1px 3px 5px #00000052;
  animation: float2 2s 1s infinite;
}
.box_2 div {
  position: absolute;
  border-radius: 1rem;
  background: #001eb1;
}
.box_2 :nth-child(1) {
  transform: rotate(45deg);
  width: 0.2rem;
  height: 0.6rem;
  left: 0.8rem;
  top: -0.4rem;
  box-shadow: 1.1rem 0.5rem #001eb1, 2.5rem -0.5rem #001eb1, 6rem 0.5rem #001eb1;
}
.box_2 :nth-child(2) {
  transform: rotate(133deg);
  width: 0.2rem;
  height: 0.6rem;
  left: 0.8rem;
  top: 0rem;
  box-shadow: 0.5rem -1.1rem #001eb1, -0.9rem -2rem #001eb1, 0.2rem -5.5rem #001eb1;
}
.box_2:after {
  content: '';
  width: 1rem;
  height: 0.2rem;
  background: #960e79;
  position: absolute;
  border-radius: 6rem;
  top: 2.4rem;
  left: 2.2rem;
}
.box_2:before {
  content: '';
  width: 0.8rem;
  height: 0.2rem;
  background: #960e79;
  position: absolute;
  border-radius: 6rem;
  top: 1.1rem;
  left: 2rem;
  transform: rotate(-68deg);
  box-shadow: -2.2rem 2.8rem #960e79;
}
.box_3 {
  position: absolute;
  width: 4.9rem;
  height: 4.2rem;
  left: 7.3rem;
  top: 7.4rem;
  background-color: rgba(99, 102, 115, 0.709804);
  border-radius: 0.6rem;
  box-shadow: 1px 3px 5px #00000052;
  animation: float3 2.5s infinite;
}
.box_3:after {
  content: '';
  position: absolute;
  background: #ffe088;
  width: 0.8rem;
  height: .2rem;
  transform: rotate(-64deg);
  border-radius: 5rem;
  top: 0.8rem;
  left: 0.5rem;
  box-shadow: 0.2rem 0.5rem #ffe088;
} 

.smoke {
  width: 70px;
  height: 100px;
  background: none;
  position: absolute;
  left: 18rem;
  margin-left: -40px;
  z-index: 3;
  top: 13.8rem;
  animation: bk 11s infinite;
}
.smoke:after {
  content: '';
  width: 100px;
  height: 100px;
  background: none;
  position: absolute;
  background-image: -webkit-radial-gradient(42% 48%, ellipse, rgba(255, 255, 255, 0.2), transparent 25%), -webkit-radial-gradient(35% 70%, ellipse, rgba(255, 255, 255, 0.2), transparent 15%), -webkit-radial-gradient(42% 61%, ellipse, rgba(255, 255, 255, 0.2), transparent 10%);
  animation: smoke 2s 1s infinite;
  transform: rotate(18deg);
}

@keyframes float {
  0% {
    top: 6.7rem;
  }
  50% {
    top: 7rem;
  }
  100% {
    top: 6.7rem;
  }
}
@keyframes float2 {
  0% {
    top: 1.7rem;
  }
  50% {
    top: 2rem;
  }
  100% {
    top: 1.7rem;
  }
}
@keyframes float3 {
  0% {
    top: 7.4rem;
  }
  50% {
    top: 7.7rem;
  }
  100% {
    top: 7.4rem;
  }
}
@keyframes smoke {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0;
  }
}

/*Carousel*/
.projects {
  margin: 100px 0;
}
::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}
.hs {
  display: -webkit-box;
  display: flex;
  overflow-x: scroll;
  -webkit-box-pack: justify;
          justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
}
.hs__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.hs__headline {
  -webkit-box-flex: 1;
          flex: 1;
          color: #FFF;
}
.hs__arrows {
  align-self: center;
}
.hs__arrows .arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  -webkit-filter: brightness(5);
          filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}
.hs__arrows .arrow.arrow-prev:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}
.hs__arrows .arrow.arrow-next:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.hs__item {
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          cursor: pointer;
}
@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}
.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}
.hs__item:first-child {
  margin-left: calc(10px * 2);
}
.hs__item__title {
  color: #d0d0d0;
}
.hs__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}
.hs__item__subtitle {
  color: #aaa;
  display: block;
}
.hs__item__image__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: .2s all;
}
.hs__item__image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hs__item__image__wrapper:hover {
  filter: brightness(0.5);
}
@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }
  .hs__wrapper .hs__item {
    -webkit-box-flex: 1;
            flex: 1 0 calc(23% - 10px * 2);
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    -webkit-box-flex: 1;
            flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
.carousel {
  font-family: 'Muli', sans-serif;
}

.container.carousel {
  margin: 0 auto;
  mix-blend-mode: invert;
  position: relative;
}

.description {
  max-width: 990px;
  color: #212121;
  margin: 0 auto;
  padding: calc(10px * 4);
}

ul {
  padding: 0;
  margin: 0;
}

