body, html {
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    max-width: 910px;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

@media (max-width: 991px) {
    .game {
        display: block;
    }
    .player {
        margin-bottom: 15px;
    }
}

.score {
    display: flex;
    justify-content: space-evenly;
}

.computerScore{
    text-align: center;
}

.humanScore{
    text-align: center;
}

.player {
    display: flex;
    background-color: #6dafda;
    padding: 10px 15px;
    justify-content: center;
}

.player button {
    border: 0;
    background: none;
    cursor: pointer;
}

.player button img {
    width: 6em;
    display: flex;
    opacity: 0.6;
}

.player button img:hover {
    opacity: 1;
}

.computer {
    display: flex;
    background-color: #c50e0e;
    padding: 10px 15px;
    justify-content: center;
}

.computer button {
    border: 0;
    background: none;
    cursor: pointer;
}

.computer button img {
    width: 6em;
    display: flex;
    opacity: 0.6;
}
.computer button.winner img {
    opacity: 1;
}

.humanScore p, .computerScore p {
    margin: 10px 0;
    font-size: 26px;
    font-weight: bold;
}
.player button{
    outline: none;
}

.message {
    display: flex;
    justify-content: center;
    margin: 0 50px;
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
}

.message h3 {
    background-color: #1350ce;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 26px;
}

/*SOCIAL*/
.social {
    display: flex;
    margin-bottom: 10px;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.linkedin:before {
  background-color:#0077b5;
}
.social-btns .btn.linkedin .fa {
  color: #0077b5;
}
.social-btns .btn.instagram:before {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.social-btns .btn.instagram .fa {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-btns .btn.github:before {
  background-color: #000;
}
.social-btns .btn.github .fa {
  color: #000;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa-instagram,
.social-btns .btn:hover .fa-instagram {
    color: #fff;
    background: #FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: auto;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: -2px -2px 15px -5px rgb(0 0 0 / 40%);
    opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
.created {
    font-size: 16px;
    color: #969696;
    margin-bottom: 5px;
    margin-top: 0;
}